@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
    background-color: white;
    color: black;
}

.icons{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100px;
}

.icons img{
    width: 41px;
    height: 41px;
}

.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -150px;
}

.circle{
    width: 400px;
    height: 400px;
    border-radius: 200px;
    background-image: url("../imagens/eumesmo.jpg");
    background-size: cover;
    background-position: center;
}

.perfil_text{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.perfil_text .span1{
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #ef6c00;
    font-size: 36pt;
}

.perfil_text .span2{
    color: #ef6c00;
    font-size: 30px;
}

.break{
    height: 5px;
    background-color: #ef6c00;
    margin-top: 100px;
    margin-bottom: 80px;
}

.main{
    display: flex;
    flex-direction: column;
}

.main_title{
    font-size: 36pt;
    text-transform: uppercase;
    text-align: center;
}

.retangulo{
    width: 279px;
    height: 248px;
    border: 2px solid #ef6c00;
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.retangulo .modalss{
    border: 2px solid #ef6c00;
    width: 100px;
    height: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer; 
}

.sobre_itens{
    display: flex;
    width: 1114px;
    margin: auto;
    justify-content: space-between;
}

.sobre_item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre_item span{
    margin-top: 25px;
}

.modal_one{
   
}

.conteudo1{
    background-color: white;
    color: black;
    border: 0;
    padding: 20px;
}